
.listadoCategoria{
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1501px) {
    gap: 2rem;
  }

}
.card {
  width: 250px;
  height: 254px;
  background: rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  transition: all 0.3s ease;
  cursor: pointer;
  @media screen and (max-width: 990px) {
    width: 400px;
    height: 300px;
  }
  .titleCategories{
    background-color: rgba(0, 0, 0, 0.452);
    position: relative;
    z-index: 8;
    width: 80%;
    margin: auto;
    border-radius: 5px;
  }
    
}
.seleccionado{
  border: #006fff 0.2em solid;
  box-shadow: none;
  transform: translateY(-10px);
}

.card .card_image {
  width: 100%;
  height: 100%;

}

.card .card_image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 1em;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}



.title-white {
  color: white;
}

.title-black {
  color: black;
}
.card:hover {

  transform: translateY(-10px);
 }


