.containerReservas{
    width: auto;
    height: auto;
    padding: 0px 25px 25px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    @media screen and (max-width:1500px) {
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width:580px) {
        padding: 0px 10px 10px 10px;
    }

    h2{
        grid-column: 1 / 4;
        grid-row: 1;
        margin-top: 25px;

        height: min-content;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
    .seleccionaHorarioLlegada{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 15px;
        font-size: large;
        font-weight: 600;
    }
    .fechaReservas{
        grid-column: 1 / 3;
        .calendarReserva{
            width: 100%;
        }
    }
    .horarioLlegada{
        grid-column: 1 / 3;

    }
    
}
.formReserva{
    background-color: #fff;
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    padding: 1.2rem;
    grid-gap: 1.2rem;
    gap: 1.2rem;
    border-radius: 1rem;
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    @media screen and (max-width:580px) {
        display: flex;
        flex-direction: column;

    }
    .inputUndifined{
        background-color: #cacaca;
    }
    .inputUndifined:hover{
        outline: none;
        padding: .2rem 0;
        border-color: transparent !important;
        border-radius: 0;
        border-color: rgba(255, 255, 255, 0);
    }
}

.formulariollegada2{
    background-color: #fff;
    width: 100%;
    padding: 1.2rem;
    padding-bottom: 0%;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.inter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.horarioDeLlegadaInput{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0px !important;
    max-width: 40%;
    @media screen and (max-width:1100px) {
        max-width: 70%;
    }
    @media screen and (max-width:580px) {
        max-width: 100%;
    }
}
