footer{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    background-color: var(--first-color);
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #fff;
}
footer nav{
    display: flex;
    gap: 2rem;
}

