footer{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    background-color: var(--first-color);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer nav{
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 580px) {
    footer{
        position: fixed;
    }
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

