.container{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 2rem;
    margin: 2rem;
}
.containerReserva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 400px;
    height: 150px;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 1px 4px 8px -4px rgba(0,0,0,0.75);
}

.boton-reserva{
    background-color: var(--bottonForm);
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.date-range{
    width: max-content;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 4px 8px -4px rgba(0,0,0,0.75);
}
.texto-reserva{
    font-weight: 700;
    color:rgb(0, 0, 0);

}