
.headerContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.5rem;
    width:100%;
    background-color: var(--third-color);

}
.caract{
    display: flex;
    flex-direction: column;
}

