.ubicacionContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    width:100%;
    padding: 1.5rem;
    background-color: var(--second-color);

}
