.buttonFormulario{
    padding:8px;
    border: none;
    background-color:var(--bottonForm);
    border-radius : 5px;
    color:#fff;
    box-shadow: 1px 3px 14px -7px rgba(0,0,0,1);
    transition: 0.5s;
}
.buttonFormulario:hover{
    filter: brightness(95%);
    box-shadow: 1px 3px 14px -3px rgba(0,0,0,1);
    
}
