.formContainer{
    display: flex;
    flex-direction: column;
}
.form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 300px;
    max-height: max-content;
    justify-content: space-between;
    align-items: center;
    background-color: beige;    
    width: 400px;
    max-width: max-content;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);


}
.searchInput{
    width: 500px;
    height: max-content;
    max-width: 70%;
    outline: none;
    border: none;
    background-color: beige;
}
.buttonForm{
    border-radius: 10px;
    background-color:#1DBEB4;
    border: 1px solid black;
    width: 80px;
    height: 40px;       
    cursor: pointer;

}
.formSearchText{
    background-color: beige;
    cursor: pointer;
    padding: 10px;

}
.formSearchInput{
    display: flex;
    justify-content: space-evenly;
}

.calendar{
    display: none;
    width: 50% ;
    height: 30px;
}
.date{
    position:absolute;
    top: 250px;
    z-index: 3;
}
.icons{
    align-self: center;
}

.searchCity{
    height: 30px;
    border-radius: 5px;
    border: none;
}
.timePicker{
    display: none;
}