.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 600px;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    
}
.noEstasRegistrado span{
    margin-right: 10px;
}
.noEstasRegistrado p{
    margin-top: 5px;
    font-size: 0.9rem;
}



.error{
    color: red;
    text-align: start;
    font-size: 12px;
}
form {
    width: 100%;
    
}
   
form .inter {
    display: block;
    position: relative;
    width: calc(100%);

}
   
form .inter input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid rgb(224, 224, 224);
}
   
form .inter label {
    display: block;
    margin-bottom: 7px;
    text-align: start;
}
@media screen and (max-width:570px) {
    .formulario{
        gap: 1.5rem;
        max-width: 100%;
        border-radius: 8px;
        text-align: center;
        padding: 0;
        
    }
}