.containerCar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;

    overflow: hidden;
    white-space: wrap;
}
.containerImage{
    width: 100px;
    height: 100px;
}
.styles{
    width: auto;
    
}
