
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--first-color) ;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 100px;
}
header nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
header nav a{
    color: #dfdfdf;
    text-decoration: none;
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent ;
    border: none;
    outline: none;
    color: #44484b;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media (max-width: 1024px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        background-color: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--first-color);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 10;
    }
    header .responsive_nav{
        transform: none;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 10;
    }
}
@media (max-width: 768px) and (min-width: 481px) {
    .header{
        background-color: rgb(41, 51, 48);
    }
}
