
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first-color) ;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 100px;
    position: sticky;
    width: 100%;
    z-index: 7;
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.377);;
}
header span{
    display: none;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 40px;
}
header nav a{
    color: #dadada;
    text-decoration: none;
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent ;
    border: none;
    outline: none;
    color: #44484b;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media (max-width: 600px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 40vw;
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--first-color);
        transition: 1s;
        transform: translateX(100vw);
        z-index: 10;
    }
    header .responsive_nav{
        transform: none;
            
    }
    header .responsive_nav span{
        width: auto;
        position: relative;
        top: 80px;
        left: 10px;
        color: #fff;
        font-weight: 900;
        font-size: 1.5rem;
        display: block;
    }
    header .containerBurgerTop{
        height: 115px;
        width: 100%;
        position: absolute;
        top:0;
        background-color: var(--bottonForm);
    }
    nav .nav-close-btn{
        position: absolute;
        top: 1rem;
        right: 2rem;
        z-index: 10;
    }
}
@media (max-width: 768px) and (min-width: 481px) {
    .header{
        background-color: rgb(41, 51, 48);
    }
}
header .desaparecer{
    display: none;
}